*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section{
    height: 100vh;
    width: 100%;
    cursor: url(https://cur.cursors-4u.net/nature/nat-9/nat865.cur), auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: greenyellow;
    background-size: contain;
    /* object-fit: fill; */
   
}

#main {
    width: 200px;
    height: 50px;
    border: none;
    background-color: aqua;
    /* background: linear-gradient(120deg, rgb(0, 0, 0), rgb(255, 0, 0) 55%, rgb(255, 255, 255), rgb(0, 255, 136) 45%); */
    cursor: url(https://ani.cursors-4u.net/nature/nat-11/nat1039.cur), auto;
    
}

.center {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }